.ContenedorPrincipal {
	width: 100% !important;
	height: 100% !important;
	position: absolute; 
	top: 0; 
	left: 0;
}

.contenedorSupIzqGrande {
	background-color: white !important;
	margin-top: 10px !important;
	margin-left: 24px !important;
	margin-right: 0px !important;
	margin-bottom: 10px !important;
	padding-left: 10px;
}
.contenedorSupDerGrande {
	background-color: white !important;
	margin-top: 10px !important;
	margin-left: 0px !important;
	margin-right: 25px !important;
	margin-bottom: 10px !important;
	padding-left: 10px;
}


.contenedorInfIzqGrande {
	background-color: white !important;
	margin-left: 10px !important;
	margin-bottom: 10px !important;
	margin-right: 5px !important;
	margin-left: 24px !important;
	height: 350px;
}

.contenedorInfDerGrande {
	background-color: white !important;
	margin-left: 5px !important;
	margin-right: 25px !important;
	height: 350px;
}


.contenedorSupIzqChico {
	background-color: white !important;
	margin-top: 10px;
	padding-left: 15px;
	margin-bottom: 10px;
}
.contenedorSupDerChico {
	background-color: white !important;
	margin-bottom: 10px !important;
	padding-left: 15px;
}

.contenedorInfIzqChico {
	background-color: white !important;
	margin-bottom: 10px !important;
}

.contenedorInfDerChico {
	background-color: white !important;
	margin-bottom: 10px !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.grafica {
	text-align: center;
}

td {
	text-align: center;
	padding: 6.2px !important;
}

th {
	text-align: center;
	padding: 6.2px !important;
}

table { 
	table-layout: fixed; 
	font-size: 12px;
}

svg {
	padding:0px !important;
}

.topBarSabadell {
  background-color: #0093D1 !important;
}

.animacion-banner {
	position: absolute;
    display: block;

	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.animacion-banner {
	animation-name: animacion;
}

@keyframes animacion {
    from {transform: translateX(250%);}
    to {transform: translateX(-100%);}
} 

.barraInferior {
    min-height: 16px;
    line-height: 1;
    font-size: 1rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff!important;
}

.horaActualizada{
	color: white;
}
